

  <a
    class="button-{{this.class}}"
    type="{{this.type}}" href="{{this.link}}"
    >{{#if [Image]}}    <img class="icon" src="{{ Image.src }}" alt"{{ Image.alt }}"/>{{/if}}
 {{this.text}}</a>
