<section class="fullwidth Alumni_LR">

{{#each Alumni}}
<div class="leader {{BackgroundImage.[Class Name]}}">
	{{>backgroundimage this.BackgroundImage}}
	<div class="yellow_box_wrap">
			<h1 class="heading-7">{{Title}} </h1>

<div class="lower_info_box">
	<div class="wrap">
<h2 class="heading-5 georgia">
{{Name}}
</h2>
</div>
<h3 class="heading-9">
	{{Class_Year}}<br>
{{Major}}
<br>
{{Location}}
<br>
{{job}}
<br>
</h3>

</div>
</div>
</div>
{{/each}}
</section>
