
<section class="section featured-box container">
	{{>search_bar}}
	{{>accordian}}
	<div class="Title heading-6">
	{{Title}}
</div>
	<div class="wrapper">

					{{#each Staff}}
	 		<div class="featured">

	 			<div class="staff_img">
							<div class="featuredimg {{BackgroundImage.[Class Name]}}">
	  {{>backgroundimage this.BackgroundImage}}
</div>
	 				<div class="{{[Triangle]}}"></div>
	 					<span class="uppercase heading-6">contact</span>

								<!-- </div> -->
											</div>
	 			<div class="staff_info">
<div class=" wrap">
	 			<div class="name_box">

	 			<h1 class="heading-5"> {{Name}}</h1>
	 			<h2 class="heading-8">{{Department}}</h2>

	 				 				</div>
	 				 				<div class="quote">
	 			<h3 class="georgia heading-5">{{Quote}}</h3>
</div>
			 </div>
 </div>
</div>
{{/each}}
</div>
</section>
	 			<!-- <div class="featured">
					<div class="staff_img">
		 					<div class="featuredimg">

		 				<div class="downtriangle"></div>
		 					<h6 class="uppercase text-center">contact</h6>
						</div>
		 			</div>

<div class="staff_info">
	 					 				<div class="wrap">
	 			<div class="name_box">
	 			<h6> MR. RON BECHET</h6>
	 			<h7>ART DEPARTMENT </h7>
	 				 				</div>
	 				 				<div class="quote">
	 			<h5 class="georgia-itc">“The entire campus feels like a team and are here for the students. It’s part of what makes it so fun.”</h6>
</div>

					</div>
				</div>
 			 		</div> -->

	 		<!-- <div class="featured col-2-3">
	 			<div class="col-1-2 box">
	 			<div class="wrap">
	 			<div class= "name_box">
	 			<h6> DR. TIMOTHY TURNER</h6>
	 			<h7>MUSIC DEPARTMENT </h7>
	 			<br><br>
	 				 				</div>
	 				 				<div class="quote">
	 			<h5 class="georgia-itc">“Everyone has gaps, but
if you’re prepared to work, Xavier will help you succeed.”</h5>
</div>
			 </div>
				</div>
	 			<div class="col-1-2">
	 					<div class="featuredimg">

	 				<div class="righttriangle"></div>
	 					<h6 class="uppercase text-center">contact</h6>
					</div>
	 			</div>

	 			</div> -->
				</div>
			</section>
