<div class="icon-grid">


    {{#each Blurb}}
      <figure class="icon">

        <img class="icon" src="{{ Image.src }}" alt"{{ Image.alt }}"/>

        <figcaption>
          <h2 class="heading-6"> <strong>{{ Title}}</strong></h2>
          <p >{{ Text }}</p>

          {{#if Link.href}}
            <a class="icon_grid_button georgia" href="{{ Link.href }}" id="{{ Link.id }}" data-text="{{ Link.text }}"
            target="{{ Link.target }}">{{ Link.text }}</a>
          {{/if}}

        </figcaption>

      </figure>
    {{/each}}

</div>
