

<div class="tile-grid grid">


    {{#each Tile}}
      <div class="tile {{BackgroundImage.[Class Name]}}">
	  {{>backgroundimage this.BackgroundImage}}
        <!-- <img class="icon" src="{{ Image.src }}" alt"{{ Image.alt }}"/> -->

          <h2 class="heading-6"> <strong>{{ Title}}</strong></h2>
          <p >{{ Text }}</p>

          {{#if Link.href}}
            <a class="icon_grid_button georgia" href="{{ Link.href }}" id="{{ Link.id }}" data-text="{{ Link.text }}"
            target="{{ Link.target }}">{{ Link.text }}</a>
          {{/if}}


      </div>
    {{/each}}
</div>
</div>
